@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Tilt+Warp&display=swap');


body, header, ul, li, footer {
    align-items: center;
    display: flex;
    justify-content: center;
}
header, ul {
    background: linear-gradient(
        to right,
        hsl(43, 99%, 48%),
        hsl(0, 100%, 100%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
body {
   background-image: url("./porsche-g6e32e810b_1280.jpg") ;
   backdrop-filter: blur(20px);
   flex-direction: column;
   font-family: 'Climate Crisis', cursive;
   font-family: 'Tilt Warp', cursive;  
   height: 100vh;
   background-size: cover;
   background-position: center;
}

header {
    color: #71622d;
    font-size: 72px;
    height: 60px;
    padding: 100px 50px 50px;
}

ul{
    flex-direction: column;
}

li {
    border: 5px solid white;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 50px;
    width: 500px;
}
a {
    color: white;
    text-decoration: none;
}
footer {
    justify-content: space-evenly;
    padding: 50px 0;
    width: 100vw;
}